.slider {
    flex: 0 0 auto;
    position: relative;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 3/4;
    @media screen and (max-width: 970px) {
        width: auto;
        max-height: 80vh;
        margin: 0;
    }
    @media screen and (max-width: 560px) {
        width: auto;
        margin: 0;
    }
    img {
        padding: 1rem 0 2rem 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: left 0.7s ease;
        &:nth-child(1) {
            left: -100%;
        }
        &:nth-child(2) {
            left: 0;
        }
        &:nth-child(3) {
            left: 100%;
        }
        &:nth-child(4) {
            left: 200%;
        }
        &:nth-child(5) {
            left: 300%;
        }
    }
}
.slider-indicator {
    height: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.slider-btn {
    background-color: gray;
    height: 0.5rem;
    width: 100%;
    border-radius: 1rem;
    z-index: 5;
    &._active {
        background-color: var(--color-main);
    }
}
